name: Ruby

on:
  push:
    branches:
      - main

  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest
    name: Ruby ${{ matrix.ruby }}
    strategy:
      matrix:
        ruby:
          - '3.4.7'
    env:
      GEM_SERVER_URL: ${{ secrets.GEM_SERVER_URL }}
      BUNDLE_GEMSERVER___DARK___LOG___1721__FLY__DEV: ${{ secrets.BUNDLE_GEMSERVER___DARK___LOG___1721__FLY__DEV }}

    steps:
      - uses: actions/checkout@v4
        with:
          persist-credentials: false
      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ matrix.ruby }}
          bundler-cache: true
      - name: Run the default task
        run: bundle exec rake
